.filterButtons {
    font-family: 'Inter', sans-serif;
    background-color: #FAC213;
    color: #FEF9A7;
    border-color: #FEF9A7;
    width: 20%;
    display: flex;
    justify-content: center;
    font-size:large;
}

.activeButton {
    background-color: #D61C4E;
}

.rounded-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.rounded-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}